= form_for @casamento do |f|
  - if @casamento.errors.any?
    #error_explanation
      h2 = "#{pluralize(@casamento.errors.count, "error")} prohibited this casamento from being saved:"
      ul
        - @casamento.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :paroquia_id
    = f.number_field :paroquia_id
  .field
    = f.label :esposo
    = f.number_field :esposo
  .field
    = f.label :esposa
    = f.number_field :esposa
  .field
    = f.label :data
    = f.date_select :data
  .field
    = f.label :religioso
    = f.check_box :religioso
  .field
    = f.label :civil
    = f.check_box :civil
  .field
    = f.label :separados
    = f.check_box :separados
  .actions = f.submit
