h1 Listing casamentos

table
  thead
    tr
      th Paroquia
      th Esposo
      th Esposa
      th Data
      th Religioso
      th Civil
      th Separados
      th
      th
      th

  tbody
    - @casamentos.each do |casamento|
      tr
        td = casamento.paroquia_id
        td = casamento.esposo
        td = casamento.esposa
        td = casamento.data
        td = casamento.religioso
        td = casamento.civil
        td = casamento.separados
        td = link_to 'Show', casamento
        td = link_to 'Edit', edit_casamento_path(casamento)
        td = link_to 'Destroy', casamento, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Casamento', new_casamento_path
