p#notice = notice

p
  strong Paroquia:
  = @casamento.paroquia_id
p
  strong Esposo:
  = @casamento.esposo
p
  strong Esposa:
  = @casamento.esposa
p
  strong Data:
  = @casamento.data
p
  strong Religioso:
  = @casamento.religioso
p
  strong Civil:
  = @casamento.civil
p
  strong Separados:
  = @casamento.separados

= link_to 'Edit', edit_casamento_path(@casamento)
'|
= link_to 'Back', casamentos_path
