= current_form.fields_for name do |f| 
  .row    
    .col.m6.field
        = f.label :paroquia
        = f.select :paroquia_id, options_from_collection_for_select(Paroquia.all,:id,:nome)
        = f.hidden_field :sexo, value: sexo
    .col.m6.field
        = f.label :nome
        = f.text_field :nome    
  .row 
    .col.m6.field
        = f.label :apelido
        = f.text_field :apelido        
    .col.m4.field
        = f.label :religiao
        = f.select :religiao_id, options_from_collection_for_select(Religiao.all,:id,:descricao)
    .col.m2.field
        = f.label :data_nascimento
        = f.text_field :data_nascimento, class:'datepicker'
  .row
    h5.center Profissao
    .col.m4.offset-m4.field
        = f.label :profissao_id
        = f.select :profissao_id, options_from_collection_for_select(Profissao.all,:id,:descricao)   
  .row 
    - resource.esposo.build_endereco
    = render 'usuarios/registrations/endereco', resource: resource.esposo, current_form: f

