= current_form.fields_for :endereco do |f|
  .row
    .field.col.m6
      = f.label :endereco
      = f.text_field :endereco
    .field.col.m2
      = f.label :numero
      = f.number_field :numero
    .field.col.m4
      = f.label :complemento
      = f.text_field :complemento
  .row
    .field.col.m3
      = f.label :bairro
      = f.text_field :bairro
    .field.col.m4
      = f.label :cidade
      = f.text_field :cidade
    .field.col.m2
      = f.label :uf
      = f.select :uf, option_uf_for_select
    .field.col.m3
      = f.label :telefone
      = f.text_field :telefone
