.container
  .row
    .card.card-contentcenter style='padding: 0 10px 0 10px'
        h4.form-title Registrar
        br
        = devise_error_messages!
        .section style='margin: 0 10px 0 10px'
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|  
                .row
                    h5.center Dados do esposo 
                    - e = resource.build_esposo
                    = render 'usuarios/registrations/conjuge', current_form: f, name: :esposo, resource: resource, disabled:nil, sexo:'M'
                .row
                    h5.center Dados da esposa
                    - resource.build_esposa
                    = render 'usuarios/registrations/conjuge', current_form: f, name: :esposa, resource: resource, disabled:nil, sexo:'F'
                br
                .row
                    h5.center Dados do usuario    
                    .field.col.l12
                        = f.label :email
                        br/
                        = f.email_field :email, autofocus: true
                    .field.col.l6
                        = f.label 'Senha'
                        - if @minimum_password_length
                        em
                            |  (pelo menos #{@minimum_password_length} caractéres)
                        br/
                        = f.password_field :password, autocomplete: "off"
                    .field.col.l6
                        = f.label 'Repita a Senha' 
                        br/
                        = f.password_field :password_confirmation, autocomplete: "off"
                .row
                    h5.center Endereço
                    = render 'usuarios/registrations/endereco', current_form: f, resrouce: resource  
                br
                
                .card-actions.center
                    = f.submit "Cadastrar", class:'btn'
                br

= javascript_include_tag 'datepicker'
            
