= form_for @filho do |f|
  - if @filho.errors.any?
    #error_explanation
      h2 = "#{pluralize(@filho.errors.count, "error")} prohibited this filho from being saved:"
      ul
        - @filho.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :casamento_id
    = f.text_field :casamento_id
  .field
    = f.label :nome
    = f.text_field :nome
  .field
    = f.label :data_nascimento
    = f.date_select :data_nascimento
  .actions = f.submit
