h1 Listing filhos

table
  thead
    tr
      th Casamento
      th Nome
      th Data nascimento
      th
      th
      th

  tbody
    - @filhos.each do |filho|
      tr
        td = filho.casamento_id
        td = filho.nome
        td = filho.data_nascimento
        td = link_to 'Show', filho
        td = link_to 'Edit', edit_filho_path(filho)
        td = link_to 'Destroy', filho, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Filho', new_filho_path
