p#notice = notice

p
  strong Casamento:
  = @filho.casamento_id
p
  strong Nome:
  = @filho.nome
p
  strong Data nascimento:
  = @filho.data_nascimento

= link_to 'Edit', edit_filho_path(@filho)
'|
= link_to 'Back', filhos_path
