= form_for @membro do |f|
  - if @membro.errors.any?
    #error_explanation
      h2 = "#{pluralize(@membro.errors.count, "error")} prohibited this membro from being saved:"
      ul
        - @membro.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :paroquia_id
    = f.number_field :paroquia_id
  .field
    = f.label :sexo
    = f.text_field :sexo
  .field
    = f.label :nome
    = f.text_field :nome
  .field
    = f.label :apelido
    = f.text_field :apelido
  .field
    = f.label :data_nascimento
    = f.date_select :data_nascimento
  .field
    = f.label :profissao_id
    = f.number_field :profissao_id
  .field
    = f.label :endereco_profissao
    = f.text_field :endereco_profissao
  .field
    = f.label :telefone_profissao
    = f.text_field :telefone_profissao
  .field
    = f.label :religiao
    = f.text_field :religiao
  .field
    = f.label :casamento_id
    = f.number_field :casamento_id
  .actions = f.submit
