h1 Listing membros

table
  thead
    tr
      th Paroquia
      th Sexo
      th Nome
      th Apelido
      th Data nascimento
      th Profissao
      th Endereco profissao
      th Telefone profissao
      th Religiao
      th Casamento
      th
      th
      th

  tbody
    - @membros.each do |membro|
      tr
        td = membro.paroquia_id
        td = membro.sexo
        td = membro.nome
        td = membro.apelido
        td = membro.data_nascimento
        td = membro.profissao_id
        td = membro.endereco_profissao
        td = membro.telefone_profissao
        td = membro.religiao
        td = membro.casamento_id
        td = link_to 'Show', membro
        td = link_to 'Edit', edit_membro_path(membro)
        td = link_to 'Destroy', membro, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Membro', new_membro_path
