p#notice = notice

p
  strong Paroquia:
  = @membro.paroquia_id
p
  strong Sexo:
  = @membro.sexo
p
  strong Nome:
  = @membro.nome
p
  strong Apelido:
  = @membro.apelido
p
  strong Data nascimento:
  = @membro.data_nascimento
p
  strong Profissao:
  = @membro.profissao_id
p
  strong Endereco profissao:
  = @membro.endereco_profissao
p
  strong Telefone profissao:
  = @membro.telefone_profissao
p
  strong Religiao:
  = @membro.religiao
p
  strong Casamento:
  = @membro.casamento_id

= link_to 'Edit', edit_membro_path(@membro)
'|
= link_to 'Back', membros_path
