 .row
  - if controller_name != 'sessions'
    = link_to "Logar", new_session_path(resource_name)
    br/
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to "Criar Administradora", new_registration_path(resource_name)
    br/
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to "Esqueceu sua senha?", new_password_path(resource_name)
    br/
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to "Não recebi o e-mail de confirmação?", new_confirmation_path(resource_name)
    br/
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to "Não recebi instruções de desbloqueio?", new_unlock_path(resource_name)