= form_for @religiao do |f|
  - if @religiao.errors.any?
    #error_explanation
      h2 = "#{pluralize(@religiao.errors.count, "error")} prohibited this religiao from being saved:"
      ul
        - @religiao.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :nome
    = f.text_field :nome
  .actions = f.submit
