h1 Listing religiaos

table
  thead
    tr
      th Nome
      th
      th
      th

  tbody
    - @religiaos.each do |religiao|
      tr
        td = religiao.nome
        td = link_to 'Show', religiao
        td = link_to 'Edit', edit_religiao_path(religiao)
        td = link_to 'Destroy', religiao, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Religiao', new_religiao_path
