.container
  .row
    .card.card-contentcenter.col.l8.offset-l2
      h3.form-title.center Bem Vindo!
      br
      -if notice.present?
        .red
          p 
            = notice 
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field.col.m8.offset-m2
          = f.label 'Usuário'
          br/
          = f.text_field :email, autofocus: true
        .field.col.m8.offset-m2
          = f.label 'Senha'
          br/
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .field.col.m8.offset-m4
            = f.check_box :remember_me
            = f.label 'Me manter Logado'
        .row.center
          .actions.col.m8.offset-m2
            .col.m4.left
              = f.submit "Logar", class: 'btn'
            .col.m4.right
              = link_to "Registrar", new_registration_path(resource_name), class:'btn wave-effects wave-blue'
        .row.center
          = link_to "Esqueceu sua senha?", new_password_path(resource_name)
