= form_for @endereco do |f|
  - if @endereco.errors.any?
    #error_explanation
      h2 = "#{pluralize(@endereco.errors.count, "error")} prohibited this endereco from being saved:"
      ul
        - @endereco.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :endereco
    = f.text_field :endereco
  .field
    = f.label :numero
    = f.number_field :numero
  .field
    = f.label :complemento
    = f.text_field :complemento
  .field
    = f.label :bairro
    = f.text_field :bairro
  .field
    = f.label :cidade
    = f.text_field :cidade
  .field
    = f.label :uf
    = f.text_field :uf
  .field
    = f.label :telefone
    = f.text_field :telefone
  .actions = f.submit
