h1 Listing enderecos

table
  thead
    tr
      th Endereco
      th Numero
      th Complemento
      th Bairro
      th Cidade
      th Uf
      th Telefone
      th
      th
      th

  tbody
    - @enderecos.each do |endereco|
      tr
        td = endereco.endereco
        td = endereco.numero
        td = endereco.complemento
        td = endereco.bairro
        td = endereco.cidade
        td = endereco.uf
        td = endereco.telefone
        td = link_to 'Show', endereco
        td = link_to 'Edit', edit_endereco_path(endereco)
        td = link_to 'Destroy', endereco, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Endereco', new_endereco_path
