p#notice = notice

p
  strong Endereco:
  = @endereco.endereco
p
  strong Numero:
  = @endereco.numero
p
  strong Complemento:
  = @endereco.complemento
p
  strong Bairro:
  = @endereco.bairro
p
  strong Cidade:
  = @endereco.cidade
p
  strong Uf:
  = @endereco.uf
p
  strong Telefone:
  = @endereco.telefone

= link_to 'Edit', edit_endereco_path(@endereco)
'|
= link_to 'Back', enderecos_path
