= form_for @perfil do |f|
  - if @perfil.errors.any?
    #error_explanation
      h2 = "#{pluralize(@perfil.errors.count, "error")} prohibited this perfil from being saved:"
      ul
        - @perfil.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :nome
    = f.text_field :nome
  .actions = f.submit
