h1 Listing perfils

table
  thead
    tr
      th Nome
      th
      th
      th

  tbody
    - @perfils.each do |perfil|
      tr
        td = perfil.nome
        td = link_to 'Show', perfil
        td = link_to 'Edit', edit_perfil_path(perfil)
        td = link_to 'Destroy', perfil, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Perfil', new_perfil_path
