h1 Listing paroquia

table
  thead
    tr
      th Nome
      th Endereco
      th Numero
      th Complemento
      th Bairro
      th Cidade
      th Uf
      th
      th
      th

  tbody
    - @paroquia.each do |paroquia|
      - endereco = paroquia.endereco.nil? ? Endereco.new : paroquia.endereco
      tr
        td = paroquia.nome
        td = endereco.endereco
        td = endereco.numero
        td = endereco.complemento
        td = endereco.bairro
        td = endereco.cidade
        td = endereco.uf
        td = link_to 'Show', paroquia_path(paroquia)
        td = link_to 'Edit', edit_paroquia_path(paroquia)
        td = link_to 'Destroy', paroquia_path(paroquia), data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New paroquia', new_paroquia_path
