p#notice = notice
- endereco = @paroquia.endereco.nil? ? Endereco.new : paroquia.endereco
p
  strong Nome:
  = @paroquia.nome
p
  strong Endereco:
  = endereco.endereco
p
  strong Numero:
  = endereco.numero
p
  strong Complemento:
  = endereco.complemento
p
  strong Bairro:
  = endereco.bairro
p
  strong Cidade:
  = endereco.cidade
p
  strong Uf:
  = endereco.uf

= link_to 'Edit', edit_paroquia_path(@paroquia)
'|
= link_to 'Back', paroquia_path
