= form_for @profissao do |f|
  - if @profissao.errors.any?
    #error_explanation
      h2 = "#{pluralize(@profissao.errors.count, "error")} prohibited this profissao from being saved:"
      ul
        - @profissao.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :descricao
    = f.text_field :descricao
  .actions = f.submit
