h1 Listing profissaos

table
  thead
    tr
      th Descricao
      th
      th
      th

  tbody
    - @profissaos.each do |profissao|
      tr
        td = profissao.descricao
        td = link_to 'Show', profissao
        td = link_to 'Edit', edit_profissao_path(profissao)
        td = link_to 'Destroy', profissao, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Profissao', new_profissao_path
