
body{
    background-color: #efefef;
}
.logo{
    width: auto;
    max-height: 65px;
    margin-bottom: -22px;
}

a:hover {
   background-color: teal;
}


nav ul li:hover {
   background-color: teal;
}

table{
    border: 1px solid;
}

.register a:visited 
{
    background-color: #fff;
}

/*header:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
  margin: 0 -55% 0 .5em;
}

footer:before {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
  margin: 0 -55% 0 .5em;
}*/

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: #efefef;
    border: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height:2rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

input.select-dropdown {
    background-color: #efefef;
    border: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    transition: all 0.3s;
    max-width: 75px;
    text-align: center;
}

select {
    background-color: #efefef;
    border: 1px solid #9e9e9e;
    border-radius: 0;
    width: 100%;
    padding: 5px;
    height: 2rem;
}

.select-wrapper {
    position: relative;
    max-width: 85px;
    background-color: #efefef;
}

.dropdown-content{
    overflow-y: scroll;
}

.form-title{
    margin: -10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 5px;
   
    background: #999999;
    background: -moz-linear-gradient(top, #999999 0%, #b3b3b3 26%, #cccccc 52%, #8f8f8f 79%, #383838 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #999999), color-stop(26%, #b3b3b3), color-stop(52%, #cccccc), color-stop(79%, #8f8f8f), color-stop(100%, #383838));
    background: -webkit-linear-gradient(top, #999999 0%, #b3b3b3 26%, #cccccc 52%, #8f8f8f 79%, #383838 100%);
    background: -o-linear-gradient(top, #999999 0%, #b3b3b3 26%, #cccccc 52%, #8f8f8f 79%, #383838 100%);
    background: -ms-linear-gradient(top, #999999 0%, #b3b3b3 26%, #cccccc 52%, #8f8f8f 79%, #383838 100%);
    background: linear-gradient(to bottom, #999999 0%, #b3b3b3 26%, #cccccc 52%, #8f8f8f 79%, #383838 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#383838', GradientType=0 );
}

.fix-title{
    margin-left: 0px;
    margin-right: 0px;
}


.ui-datepicker{
    border: 1px;
    border-color: black;
    background-color: #efefef;
    width: 20vw;
    border-style: solid;
    color: black;
    
}

.ui-datepicker-calendar table, th, td {
    border: .5px solid;
    border-color: #aaa;
    text-align: center;
}


ui-state-default a {
    color: black;
}

ui-datepicker-calendar td:hover {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    max-width: 2vw;
}

.ui-datepicker-current-day{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    max-width: 2vw;
}

.ui-state-hover, .ui-state-active{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    max-width: 2vw;
}

td .ui-datepicker-week-end {
    background-color:#f77;
}